* {
  box-sizing: border-box;
}

#nav-wrapper{
    width: 90%;
    margin: auto;
    text-align: center;
}

#body-wrapper{
	width: 90%;
	margin: 0 auto;
}

p, button {
	font-size: 20px;
	line-height: 20px;
	/*border: solid;*/
}

button {
	/*width:50%;*/
}

h1{
	float: auto;
	/*font-size: 5em;*/
	text-size-adjust: auto;

}

#grocery-item-input{
	/*width:30%;*/
	display:block;
	padding-bottom: 50px;
	margin-bottom: 50px;

}

#add-item-button{
	width:30%;
	display: block;
	margin:auto;
}

